#landingpage{
    background-image: url(../images/IMG_20161126_133031804.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*this is a comment*/

img{
    max-width: 100%;
}

#header{
    font-family: 'Abril Fatface', cursive;
    font-size: 60pt;
    color: #ffffff;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 4px 10px black;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
    text-shadow: 4px 4px 10px black;
}

.navbar {
    background: rgb(255,255,255,.8);
    display: flex;
    align-items: center;
    border: 3px solid white;
}

.navbar a {
    font-family: 'Abril Fatface', cursive;
    padding: 10px 5px;
    text-decoration: none;
    color: #89852e;
    font-size: 2em;
    flex: 1 0 auto;
    text-align: center;
}

.navbar a:hover {
    background: rgb(207,211,213,.5);
    color: #804000;
    font-weight: bold;
}

.navbar a.active {
    background: rgb(238,240,242,.8);
    color: #804000;
    font-weight: bold;
}

#websitesGallery {
    max-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

#websitesGallery img {
    object-fit: scale-down;
    box-sizing: border-box;
    padding: 10px;
}

#publishedArtwork {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}

#publishedArtwork img {
    width: 30%;
    margin-bottom: 10px;
    object-fit: scale-down;
    box-sizing: border-box;
    padding: 10px;
    background-color: dimgrey;
}

#publishedArtwork .landscape {
    width: 47%;
}

#projects {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#projects img {
    width: 100%;
    object-fit: scale-down;
    box-sizing: border-box;
    border: solid black;
}


