html{
    height: 100%;
}

#landingpage{
    background-image: url(../images/IMG_20161126_133031804.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

/*this is a comment*/

img{
    max-width: 100%;
}

#header{
    font-family: 'Abril Fatface', cursive;
    font-size: 60pt;
    color: #ffffff;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 4px 10px black;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
    text-shadow: 4px 4px 10px black;
}

.navbar {
    background-color: black;
    display: flex;
    align-items: center;
}

#navExit {
    display: none;
}

.navbar a {
    font-family: 'Abril Fatface', cursive;
    padding: 10px 5px;
    text-decoration: none;
    color: #89852e;
    font-size: 2em;
    flex: 1 0 auto;
    display: none;
    text-align: center;
}

.navbar .active {
    display: block;
    flex: 1 0 auto;
}

.navbar a:hover {
    background: rgb(207,211,213,.5);
    color: #ffffff;
}

.navbar a.active {
    border-bottom: 3px solid white;
    color: #ffffff;
}

#websitesGallery {
    max-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

#websitesGallery img {
    object-fit: scale-down;
    box-sizing: border-box;
    padding: 10px;
}

.navbar img {
    object-fit: scale-down;
    box-sizing: border-box;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

#publishedArtwork {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}

#publishedArtwork img {
    width: 30%;
    margin-bottom: 10px;
    object-fit: scale-down;
    box-sizing: border-box;
    padding: 10px;
    background-color: dimgrey;
}

#publishedArtwork .landscape {
    width: 47%;
}

#projects {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#projects img {
    width: 100%;
    object-fit: scale-down;
    box-sizing: border-box;
    border: solid black;
}

#face {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}

#face img {
    width: 30%;
    margin-top: 50px;
    object-fit: scale-down;
    box-sizing: border-box;
}

#navExit {
    margin: 0px;
    position: fixed;
    left: 20px;
    top: 20px;
}


@media only screen and (min-width: 600px) {
    #landingpage{
	    background-image: url(../images/IMG_20161126_133035610.jpg);
    }
    
    .navbar img {
        display: none;
    }
    
    .navbar a {
        display: block;
    }

}