html,body{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 100%;
	/*width: 100%;*/
}

h1{
	overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 2.5em;
}

h2{
	overflow: hidden;
    white-space: nowrap;
    font-size: 1.25em;
}

h3{
	overflow: hidden;
    white-space: nowrap;
    font-size: .8em;
}

p{
	font-size: .8em;
}

b{
	font-weight: 700;
}

.pipe{
	font-size: .9em;
	padding-right: 20px;
	display: none;
}

#mdash{
	padding-top: 2px;
	padding-bottom: 8px;
}

header{
	flex: 0 0 auto;
	display: flex;
	background-color: #E8AB9E;
	color: white;
	/*width: 100%;*/
	padding: 30px;
}

#title{
	flex: 1 1 70%;
	justify-content: flex-start;
	/*padding: 4%;*/
}

#subtitle{
	padding-top: 6px;
}

#links{
	flex: 1 0 30%;
	display: flex;
	/*text-align: right;*/
	/*padding-top: 1.5%;*/
	justify-content: flex-end;
	padding-top: 14px;
}

#homeLink{
	flex: 0 0 auto;
	padding-left: 40px;
	padding-right: 40px;
	cursor: pointer;
}

#aboutLink{
	flex: 0 0 auto;
	cursor: pointer;
	padding-right: 40px;
}

#contactLink{
	flex: 0 0 auto;
	cursor: pointer;
}

main{
	flex: 1 0 auto;
	display: flex;
	color: #6C2E2F;
}

#text{
	flex: 0 .5 30%;
	padding: 25px;
	line-height: 1.5;
}

#headerPipe{
	padding-right: 20px;
	display: none;
}

#gallery{
	display: flex;
	flex-direction: column;
	flex: 1 1 70%;
	padding-top: 25px;
	padding-bottom: 25px;
}

.row{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}

.box{
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding-right: 20px;
	padding-bottom: 25px;
}

.paintingName{
	padding-top: 10px;
}

.paintingDescription{
	padding-top: 4px;
	font-style: italic;
}

footer{
	flex: 0 0 auto;
	display: flex;
	background-color: #E8AB9E;
	color: white;
}

#museumInfo{
	flex: 0 .5 30%;
	padding: 25px;
	line-height: 1.8;
}

#museumHours{
	flex: 1 1 70%;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	line-height: 1.8;
}

#headerInfo{
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 766px) {

	header{
		flex-direction: column-reverse;		
		padding: 30px;
		box-shadow: 0px 0px 27px #AAA;
	}

	.pipe{
		display: inline;
	}

	#title{
		flex: 1 1 100%;
		text-align: center;
	}

	#links{
		flex: 1 0 100%;
		justify-content: center;
		padding-top: 14px;
		padding-bottom: 30px;
		font-size: 1.4em;
	}

	#homeLink{
		padding-right: 20px;
		padding-left: 0px;
	}

	#aboutLink{
		padding-right: 20px;
	}

	#contactLink{
		padding-left: 0px;
		padding-right: 0px;
	}

	main{
		color: #6C2E2F;
		flex-direction: column;
		flex: 0 0 auto;
		margin-bottom: 0px;
	}

	#text{
		flex: 0 .5 30%;
		padding: 25px;
		padding-bottom: 0px;
		line-height: 1.3;
	}

	p{
		font-size: 1.1em;
	}

	#headerInfo{
		flex-direction: row;
		justify-content: center;
		font-size: 1em;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	#mdash{
		display: none;
	}

	#headerPipe{
		display: inline;
		padding-left: 6px;
		padding-right: 6px;
	}

	#gallery{
		flex: 0 1 100%;
	}

	.row{
		flex-direction: column;
		flex: 0 1 100%;
	}

	.box{
		flex: 0 1 100%;
		padding-right: 25px;
		padding-left: 25px;
		padding-top: 0px;
		padding-bottom: 25px;
	}

	.paintingName{
		padding-top: 10px;
		font-size: 1.2em;
	}

	.paintingDescription{
		padding-top: 10px;
		font-size: 1.2em;
		padding-left: 10px;
	}

	.info{
		display: flex;
		flex-direction: row;
	}

	footer{
		flex-direction: column;
		font-size: 1.3em;	
	}

	#museumInfo{
		padding: 25px;
	}

	#museumHours{
		padding-bottom: 25px;
		padding-left: 25px;
	}
}

@media only screen and (max-width: 470px) {
	body{
		font-size: .8em;
	}
}

@media only screen and (max-width: 400px) {
	body{
		font-size: .6em;
	}
}

@media only screen and (max-width: 350px) {
	body{
		font-size: .5em;
	}
	#title{
		font-size: .8em;	}

	#subtitle{
		font-size: 1.2em;	}
}

